/* Reset some default styles */
body,
h1,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a base font size and line height */
body {
  /* background-color: yellow; */
  font-size: 16px;
  line-height: 1.6;
  /* display: flex; */
  min-height: 100vh; /* Ensure full viewport height */
  /* margin: 0; */
  justify-content: center;
  /* align-items: center; Center vertically */
}

h1 {
  text-align: center;
  margin-top: 60px;
}

/* the content */
.container {
  padding: 2rem;
}
.slider-wrapper {
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
}
.slider {
  display: flex;
  aspect-ratio: 16 /9;
  overflow: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.7rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
}
.slider img {
  flex: 1 0 100%;
  object-fit: cover;
  scroll-snap-align: start;
}
.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}
.slider-nav a :hover {
  opacity: 1;
}

/* Responsiveness for all screens  */
/* Apply a max-width to the body for larger screens */
body {
  max-width: 1200px;
  margin: 0 auto; /* Center the content */
  margin-top: 40px;
  align-items: center;
}

/* Responsive layout using media queries */
@media only screen and (max-width: 600px) {
  /* Adjust styles for smaller screens */
  body {
    font-size: 14px;
    margin-top: 200px;
    align-items: center;
  }
}

@media only screen and (max-width: 400px) {
  /* Further adjustments for even smaller screens */
  body {
    font-size: 12px;
    margin-top: 150px;
    align-items: center;
  }
}
